* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;     
  font-family: 'Comic Neue', sans-serif;
  background-image: url("Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  overflow: hidden;
  position: relative;
}

.login-box {
  position: relative;
  z-index: 2;
  width: 360px;
  max-width: 90%;
  padding: 45px 35px;
  background: #fff;
  border: 4px solid #000;
  box-shadow: 10px 10px 0 #000;
}

.login-box h2 {
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: clamp(26px, 5vw, 34px);
  margin-bottom: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.login-box label {
  font-size: 14px;
  margin-top: 15px;
  display: block;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 3px solid #000;
  background: #fff;
  outline: none;
  font-size: 14px;
}

.login-box input:focus {
  background: #000;
  color: #fff;
}

.login-box button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border: 4px solid #000;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 20px;
}

.login-box button:hover {
  background: #fff;
  color: #000;
}

.login-box a {
  color: #000;
  font-size: 12px;
  float: right;
  text-decoration: none;
  font-weight: bold;
}

.signup-box p a{
  margin-bottom: 20px;
}

.login-box button:hover {
  animation: punch 0.25s ease-in-out;
}

@keyframes punch {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.08); }
  100% { transform: scale(1); }
}

.login-box {
  animation: enter 0.7s ease-out;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(40px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 13px;
}

.remember-box {
  display: flex;
  align-items: center;
  gap: 6px;
}

.remember-box label {
  display: inline;
  margin: 0;
  font-size: 13px;
}

.options a {
  float: none;
  font-size: 12px;
}


.signup {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}

.icon {
  text-align: center;
  margin-top: 15px;
}

.icon a {
  color: #000;
  margin: 0 8px;
  font-size: 18px;
  transition: 0.2s;
}

.icon a:hover {
  transform: scale(1.3);
}

@media (max-width: 700px) {
  .login-box {
    padding: 30px 20px;
    box-shadow: 6px 6px 0 #000;
  }
}

